[Unit]
Description= EMCA Service
After=syslog.target mysqld.service
Requires=mysqld.service

[Service]
Type=simple
ExecStart=/usr/bin/emca
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target